//header
.header {
  position: relative;
  z-index: 99;
  background: #FFF;
  // box-shadow: 0px 2px 5px RGBA(0, 0, 0, .3);
  border-top: 10px solid $primaryColor;
  border-bottom: 1px solid #ccc;
  @extend %clearfix;
  @include screen('mobile') {
    position: fixed;
    width: 100%;
    border-top: 0;
    border-bottom: 3px solid #aaa;
    background: #efefef;
  }
    // mobile btn for extend
    %mobileCtrlBtn {
      width: 60px !important;
      height: 60px !important;
      position: absolute;
      top: 0px;
      display: block;
      font-size: 0em;
      padding: 15px;
      margin: 0;
      min-width: auto;
      min-height: auto;
      background: transparent;
      border: none;
      box-shadow: none;
      @include box-sizing;
      @include screen('mobile') {
        display: block !important;
      }
    }
    >.container {
      max-width: $container-max;
      overflow: visible;
        position: relative; // menu
        // .sidebarCtrl {
        //   display: none;
        //   left: 0px;
        //   @extend %mobileCtrlBtn;
        //   span {
        //     position: absolute;
        //     background: $primaryColor;
        //     width: 50%;
        //     height: 4px;
        //     top: 35%;
        //     left: 50%;
        //     margin-left: -25%;
        //     display: block;
        //     &:nth-child(2) {
        //       top: 50%;
        //     }
        //     &:nth-child(3) {
        //       top: 65%;
        //     }
        //   }
        // }
        // search
        // .searchCtrl {
        //   display: none;
        //   right: 0px;
        //   font-size: 0em;
        //   @extend %mobileCtrlBtn;
        //   &:before {
        //     width: 40px;
        //     height: 40px;
        //     background: url(../images/basic/icon_search.png) no-repeat center center;
        //     background-size: 28px;
        //     opacity: .6;
        //     content: "";
        //     position: absolute;
        //     top: 10px;
        //     left: 10px;
        //     display: block;
        //   }
        // }
      }
      h1 {
        float: left;
        // width: 152px;
        height: 40px;
        margin: 22px 0 22px 15px;
        padding: 0;
        @include box-sizing;
        a {
          display: block;
        }
        img {
          display: block;
          // max-width: 152px;
          max-height: 40px;
        }
        @include screen('mobile') {
          padding: 2px 0;
          // width: 100%;
          text-align: center;
          height: 80px;
          float: none;
          margin: 15px 20px;
          img {
            width: auto;
            height: auto;
            max-height: 40px;
            margin: 0px auto;
            // transform: scale(.8);
            width: 100%;
          }
        }
      }
    // 導覽列
    .navigation {
      overflow: hidden;
      position: absolute;
      right: 10px;
      left: 10px;
      top: 20px;
      display: block;
      @include screen('mobile') {
        top: 62px;
        text-align: center;
      }
      ul {
        float: right;
        padding: 0;
        margin: 0;
        font-size: .938em;
        list-style: none;
        @include screen('mobile') {
          float: none;
          display: inline-block;
        }
        // &.left_nav {
        //   float: left;
        //   margin-left: 2em;
        // }
        @include screen('tablet') {
          &:nth-child(2){
            float: left;
          }
        }
        @include screen('mobile') {
          &:nth-child(2){
            float: none;
          }
        }
        
      }
      li {
        float: left;
        margin: 0 .3em;
        a {
          display: inline-block;
          padding: .6em 1em;
          text-decoration: none;
          color: $color-word;
          @include gradient (#F7F7F7, #EAEAEA, vertical);
          border: #ccc solid 1px;
          border-radius: 5px;
          @include screen('mobile') {
            padding: .4em 1em;
            @include gradient (#fff, #fff, vertical);
          }
          &:hover,
          &:focus {
            background: $primaryColor;
            color: #fff !important;
            border: $primaryColor solid 1px;
          }
        }
      }
    }
  }

// header fix
.header.fixed {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, .5) 0 0 25px;
  background: rgba(0, 0, 0, .75);
  z-index: 999;
  @include screen('mobile') {
    background: #FFF;
  }
  .menu {
    >ul {
      >li {
        >a {
          color: #FFF;
        }
      }
    }
  }
}